/*start general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*end general*/

/*start nav*/

nav{
    padding: 10px;
}

nav .logo{
    width: 100px;
    margin: 0 auto;
}

nav .logo img{
    width: 100%;
}

/*end nav*/

/*start header*/

.header{
    background-image: url('../images/header-background.png');
    background-size: cover;
    padding: 75px 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.content-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.content-side h2{
    color: #FFF;
    margin-bottom: 15px;
    font-size: 32px;
}

.content-side > p{
    color: #FFF;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.5em;
}

.content-side > p span{
    background-color: #FAA61A;
    padding: 3px;
}

.content-side .show-more{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 0;
    transition: .3s ease-in-out;
}

.content-side .show-more:hover{
    transform: scale(1.05);
}

.content-side .show-more .icon-container{
    background-color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.content-side .show-more p{
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

.img-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-side img{
    width: 100%;
}

.img-side .icon-container{
    background-image: linear-gradient(to right, #6ae6ff, #34bfdb);
    border: 1px solid #FFF;
    border-radius: 10px;
    position: absolute;
    right: 0;
    transition: .25s linear;
}

.img-side .dolar-icon{
    padding: 10px;
    top: 20%;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-side .dolar-icon:hover{
    transform: scale(1.1) translateX(-25%);
}

.img-side .icons{
    bottom: 30%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateX(25%);
}

.img-side .icons:hover{
    gap: 15px;
    transform: scale(1.1) translateX(30%);
}

.img-side .item-img{
    position: absolute;
    top: 15%;
    left: 6%;
    transition: .2s linear;
    width: 25%;
}

.img-side .item-img:hover{
    transform: scale(1.1);
}

.img-side .item-img img{
    width: 100%;
}
/*end header*/

/*start main-content*/

.main-content{
    padding: 50px 0;
}

.main-content .title{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/title-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.items{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.items .item{
    padding: 30px 40px;
    box-shadow: rgb(17 12 46 /10%) 0px 1px 50px .1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    transition: .3 ease-in-out;
}

.full-item{
    padding: 30px 40px;
    box-shadow: rgb(17 12 46 /10%) 0px 1px 50px .1px;
    border-radius: 10px;
    transition: .3 ease-in-out;

}

.items .item:hover,
.full-item:hover{
    background-color: #FAA61A;
}

.items .item .icon-container,
.full-item .icon-container{
    width: fit-content;
    padding: 15px;
    background-color: rgba(250, 166, 26, .2);
    border-radius: 50%;
}

.items .item:hover .icon-container,
.full-item:hover .icon-container{
    background-color: rgba(255, 255, 255, .3);
}

.items .item:hover .icon-container svg path,
.full-item:hover .icon-container svg path{
    fill: #FFF;
}

.items .item h3,
.full-item h3{
    font-size: 18px;
    text-align: center;
}

.items .item .disc{
    color: #242424;
    font-size: 18px;
    text-align: center;
}

.items .item:hover h3,
.items .item:hover .disc,
.full-item:hover h3{
    color: #FFF;
}

.full-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.full-item h3{
    max-width: 250px;
    font-size: 16px;
}

.full-item ul li{
    list-style-type: none;
}

/*end main-content*/

@media screen and (max-width: 1250px) {
    
    .img-side .item-img{
        top: 25%;
    }

    .items{
        grid-template-columns: repeat(2, 1fr);
    }

    .content-side .show-more{
        position: static;
    }
}

@media screen and (max-width: 1200px) {

    .img-side .item-img{
        top: 27%;
    }

}

@media screen and (max-width: 920px) {
    
    .img-side .item-img{
        top: 20%;
    }

    .items{
        grid-template-columns: repeat(1, 1fr);
    }

    .header .container{
        flex-direction: column !important;
    }

    .header .container .content-side{
        order: 1;
    }

    .header .container .img-side{
        order: 0;
        margin-bottom: 25px;
    }

    .img-side .icons:hover{
        transform: scale(1.1) translateX(10%);
    }

    .full-item{
        flex-direction: column;
    }

    .full-item ul{
        width: 100%;
    }
}

/* look-up start */
.main-content .look-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    bottom: 50%;
    flex-direction: row;
    margin: 0 auto;
    background-color: #faa61a;
    padding: 15px;
    border-radius: 50%;
}
.main-content .look-up .icon-up{
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
}
.main-content .look-up .icon-up img{
    width: 30px;
    height: 30px;
}
.main-content .look-up p{
    color: #242424;
    font-weight: bold;
    font-size: 20px;
}
/* look-up end */